<div class="box">
  <p><%= f.text_field 'first_name', :label=>l(:field_client_first_name), :required => true -%></p>
  <p><%= f.text_field 'last_name', :label=>l(:field_client_last_name) -%></p>
  <p><%= f.text_field 'email', :label=>l(:field_client_email), :required => true -%></p>
  <p><%= f.text_field 'mobile', :label=>l(:field_client_mobile) -%></p>
  <p><%= f.text_field 'phone', :label=>l(:field_client_phone) -%></p>
</div>
